@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-color: #343F4B;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgb(255, 255, 255);
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color:  rgb(255, 217, 0);
}

.social_icon span:hover{
color: rgb(99, 65, 163);
cursor: pointer;
}

.card-header h3{
color: #ff000055, 0, 0);
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 1 1 1 1  !important;
box-shadow: 2 2 2 2 !important;

}

.remember{
color: rgb(0, 0, 0);
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: rgb(83, 55, 161);
}

.links{
color: rgb(0, 0, 0);
}

.links a{
margin-left: 4px;
}