/* INICIO HEADER */

.topo {
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.search {
    flex-flow: row nowrap;
}

.search div {
    cursor: pointer;
}


.login a {
    text-decoration: none;
    font-weight: bold;
}

.cart i {
    color: #fff;
}

/* FIM HEADER */

.container{
    margin-top: 13%;
}



/* INICIO FOOTER */
footer {
    display: flex;
    /* width: 100vw; */
    bottom: 0;
    padding: 20px;
    justify-content: center;
}

footer .info {
    display: flex;
    justify-content: space-around;
}

footer ul {
    list-style: none;
    padding: 0;

}

footer .title {
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.breadcrumb {
    background-color: transparent !important;
}
/* FIM FOOTER */




/* INICIO UTILIDADES */

/* Cores de background */
.bg-dark-grey {
    background: #36393A;
}

.bg-light-grey {
    background: #E0E2E5;
}

.bg-yellow {
    background: #FCBA1C;
}

.bg-green {
    background: #9ACA4C;
}

.bg-red {
    background: #EA4A6F;
}

.bg-blue {
    background: #54C3D5;
}
.bg-dark-grey {
    background: #36393A;
}

.bg-light-grey {
    background: #E0E2E5;
}

.bg-yellow {
    background: #FCBA1C;
}

.bg-green {
    background: #9ACA4C;
}

.bg-red {
    background: #EA4A6F;
}

.bg-blue {
    background: #54C3D5;
}

/* cores de fontes */
.color-dark * {
    color: #FFFFFF;
}

.color-light * {
    color: #36393A;
}

/* FIM UTILIDADES */

/* RESPONSIVO */

@media (max-width: 767.98px) {

    .topo {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .search {
        display: flex;
        flex-flow: row nowrap;
        /* background-color: red; */
        order: +2;
    }

    .login {
        order: +1;
    }

}
