#corpo{
    display: flex;
    justify-content: center;
    text-align: center;
}
.cardLogin{
text-align: center;
margin-top: 15px;
margin-right: 100px;

}
#btnLogin{
   
    width: 78%;

}
#fraseLogin{
color: red;
margin-right: 20px;

}
#btnCadastro{
    margin-left: 120px;
}

