#categoria1{
 border-radius: 10px;
 background-color: #16e739e3;
 border-style: none;
 margin-top: 10px;
}
#categoria2{    
    border-radius: 10px;
}
#categoria3{    
    border-radius: 10px;
}
#categoria4{    
    border-radius: 10px;
}
