/* INICIO UTILIDADES */

/* Cores de background */
.bg-dark-grey {
    background: #36393A;
}

.bg-light-grey {
    background: #E0E2E5;
}

.bg-yellow {
    background: #FCBA1C;
}

.bg-green {
    background: #9ACA4C;
}

.bg-red {
    background: #EA4A6F;
}

.bg-blue {
    background: #54C3D5;
}

.bg-dark-grey {
    background: #36393A;
}

.bg-light-grey {
    background: #E0E2E5;
}

.bg-yellow {
    background: #FCBA1C;
}

.bg-green {
    background: #9ACA4C;
}

.bg-red {
    background: #EA4A6F;
}

.bg-blue {
    background: #54C3D5;
}

/* cores de fontes */
.color-dark * {
    color: #FFFFFF;
}

.color-light * {
    color: #36393A;
}


/* RESPONSIVO */

@media (max-width: 767.98px) {

   


}