
/* INICIO FOOTER */

footer .title {
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.breadcrumb {
    background-color: transparent !important;
    /* display: flex; */
    justify-content: center;
}
/* FIM FOOTER */

footer p{
    font-size: 15px;
    line-height: 0.1;
}


footer p:first-child{
    font-size: 13px;
    line-height: 0.9;
    padding: 10px;
}

footer h4{
    font-size: 15px;
     margin-top: 15px;
     line-height: 0.3;
}

footer h5{
    font-size: 10px;
    
}

/* INICIO UTILIDADES */

/* Cores de background */
.bg-dark-grey {
    background: #36393A;
}

.bg-light-grey {
    background: #E0E2E5;
}

.bg-yellow {
    background: #FCBA1C;
}

.bg-green {
    background: #9ACA4C;
}

.bg-red {
    background: #EA4A6F;
}

.bg-blue {
    background: #54C3D5;
}

.bg-dark-grey {
    background: #36393A;
}

.bg-light-grey {
    background: #E0E2E5;
}

.bg-yellow {
    background: #FCBA1C;
}

.bg-green {
    background: #9ACA4C;
}

.bg-red {
    background: #EA4A6F;
}

.bg-blue {
    background: #54C3D5;
}

/* cores de fontes */
.color-dark * {
    color: #FFFFFF;
}

.color-light * {
    color: #36393A;
}


/* RESPONSIVO */

@media (max-width: 767.98px) {
   


}