*, *:before, *:after {
    box-sizing: border-box;
  }
  
  /* body {
    font: 14px/22px "Lato", Arial, sans-serif;
    background: #6394F8;
  }
   */
  .lighter-text {
    color: #ABB0BE;
  }
  
  .main-color-text {
    color: #28a745!important;
  }

  
  /* .container {
    margin: auto;
    width: 80%;
  } */
  
  
  .shopping-cart {
    /* margin: 20px 0; */
    float: right;
    background: white;
    width: 320px;
    position: absolute;
    border-radius: 3px;
    padding: 20px;  
    z-index: 99999999;
    /* right: 30px; */
    right: 5px;
    /* top: 120px; */
    top: 60px;
  }

  

.shopping-cart .qtd-cart{  
    background-color: #28a745;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap; 

}


.shopping-cart ul{
    list-style-type: none;
}
  
.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
    /* padding-bottom: 35px; */
  }
  .shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
  }
  .shopping-cart .shopping-cart-items {
    padding-top: 20px;
  }
  .shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
  }
  .shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
  }
  .shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
  }
  .shopping-cart .shopping-cart-items .item-price {
    color: #28a745;
    margin-right: 8px;
  }
  .shopping-cart .shopping-cart-items .item-quantity {
    color: #ABB0BE;
  }
  
  .shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
  }
  
  /* .cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  } */
  
  .button {
    background: #28a745;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    font-size: 16px;
    margin: 25px 0 15px 0;
  }
  .button:hover {
    background: #28A700;
    text-decoration: none;
    font-weight: bolder;
    color: #FFF;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .item-quantity{
    padding: 6px;
  }

  .clearfix .item-imagem{
    width: 70px;
    height: 70px;
  }
  .clearfix .item-name{
    color: #28A700;
  }

  .btn-add-sub{
    background-color: #FFF;
    color: #6C6C6C;
    padding: 0;
    margin: 0.3rem;

    border: 1px solid #6C6C6C;
   border-radius: 25px;
    
    /* padding: 5px 10px 5px 10px; */
  }
  
  
  .btn-add-sub:hover{
    background-color:  #6C6C6C;
    color:  #FFF;
    cursor: pointer;
   
  }

  .btn-rem{
    background-color: #FFF;
    color: #6C6C6C;
    margin: 0.3rem;

  }
  
  .btn-rem:hover{
    background-color: #FFF;
    color: #EA4A6F;
    cursor: pointer;
    cursor: pointer;
  }