/* INICIO HEADER */
.topo {

    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

}


.search {
    flex-flow: row nowrap;
}

.search div {
    cursor: pointer;
}


.login a {
    text-decoration: none;
    font-weight: bold;
}
#navHome{
    background-color: white;
    width: 100vw;
    margin-top: 5px;
}




/* FIM HEADER */



/* INICIO UTILIDADES */

/* Cores de background */
.bg-dark-grey {
    background: #36393A;
}

.bg-light-grey {
    background: #E0E2E5;
}

.bg-yellow {
    background: #FCBA1C;
}

.bg-green {
    background: #9ACA4C;
}

.bg-red {
    background: #EA4A6F;
}

.bg-blue {
    background: #54C3D5;
}

.bg-dark-grey {
    background: #36393A;
}

.bg-light-grey {
    background: #E0E2E5;
}

.bg-yellow {
    background: #FCBA1C;
}

.bg-green {
    background: #9ACA4C;
}

.bg-red {
    background: #EA4A6F;
}

.bg-blue {
    background: #54C3D5;
}

/* cores de fontes */
.color-dark * {
    color: #FFFFFF;
}

.color-light * {
    color: #36393A;
}

.btnMargin{
    margin-right: 140px;
    width: 100px;
    
}

.btnMargin:hover {
    opacity: 0.7;
}



/* RESPONSIVO */

@media (max-width: 767.98px) {

    .topo {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .login {
        display: flex;
        justify-content: center;
        ;
    }

    .search {
        display: flex;

        /* flex-flow: row nowrap; */
        /* background-color: red; */
        order: +1;
    }

    .cart {
        display: flex;
        justify-content: center;
        order: +1;

    }


}