* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}