.invalida {
    color: #DC4535;
}

.valida {
    color: black;
}
.container{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;

    
}
.container .content{
    
    width: 100%;
    padding: 30px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0 ,0 , 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#title{
   
    font-size: 32px;
    color: #6C6C6C;
}
.Input{
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 16px;
}
.textArea{
    width: 100%;
    resize: vertical;
    min-height: 140px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}