.form{
    margin-top: 5vh;
    margin-bottom: 10vh;
}
.cadastro{
    background-color: rgb(243, 242, 242);
    
    
}
.cadastro{
    width: 150vh;
    height: 65vh;
}
.cadastro{
    margin-bottom: 10vh;
    margin-top: 10vh;
}