.form{
    width: 80vh
     
}
.form{
    margin-top: 5vh;
    margin-bottom: 10vh;
}
.entrar{
    background-color: rgb(243, 242, 242);
    
    
}
.entrar{
    width: 150vh;
    height: 60vh;
}
.entrar{
    margin-bottom: 10vh;
    margin-top: 10vh;
}