.btnComprar{
 width: 100px;
 margin: 10px 15px;
 align-self: center;
}

.cardPipas a{
   color:  rgb(102, 102, 102) !important; 
   text-align: center;
}

.preco{
    /* font-family: cursive; */
    font-weight: bold;
    color:#000;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 1px solid #000;
}

.cardPipas a{
    text-decoration: none !important;
}

.card:hover{    
    transition: box-shadow 0.3s ease;
    box-shadow: 0 1px 5px rgba(64, 197, 104, 0.19), 0 1px 5px rgba(0, 0, 0, 0.28);
    

}

.imagemCard{
  
    

    
}